.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.video {
  width: 99%;
  margin:auto;
}

.poster {
  height: 130px;
}


.hideSidebar {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  transform: translateX(-300px);
}



@media screen and (min-width: 500px) {
  .video {
    width: 75%;
  }
}

@media screen and (min-width: 700px) {
  .video {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {
  .video {
    width: 250px;
    margin-left: 0;
  }
  /* .video-home:nth-of-type(1) {
    margin-left: 0;
  }
  .video-home:nth-of-type(4) {
    margin-left: 0;
  } */
}
