.video-home {
  width: 90%;
  margin:auto;
}


.hideSidebar {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  transform: translateX(-300px);
}



@media screen and (min-width: 500px) {
  .video-home {
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .video-home {
    width: 250px;
    margin-left: 0;
  }
  /* .video-home:nth-of-type(1) {
    margin-left: 0;
  }
  .video-home:nth-of-type(4) {
    margin-left: 0;
  } */
}
